<launch>

  <node name="kinect_human_detection" pkg="kinects_human_tracking" type="kinect_human_detection" output="screen">
    <param name="kinect_topic_name" value="kinect_both" />
    <param name="robot_topic_name" value="robot_model_to_pointcloud/robot_cloud2" />
    <param name="clusters_topic_name" value="kinect_both/clusters" />
    <param name="out_topic_name" value="kinect_both/human_detection" />
  </node>

</launch>
